body {
	font-family: monospace;
}

#expand-toggle {
	display: none;
}

.expandable {
	visibility: collapse;
	background: gray;
	color: white;
}

#expand-btn {
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0.3s;
} 



#expand-toggle:checked ~ * .expandable{
			
	visibility: visible;

		}

#expand-toggle:checked ~  #expand-btn{
	background-color: #88ff88;
	font-size: 0;
		
}

#expand-toggle:checked ~  #expand-btn::after{
	content: "Nascondi righe";
	font-size: 14px;
		
}
		
		